<section class="mbr-section info3 mbr-parallax-background"
         style="padding-top: 90px;padding-bottom: 90px;background-image: url({{  theme_url  }}/assets/images/backgrounds/{{ page.header.background_image }})">

    <div class="mbr-overlay" style="opacity: {{ page.header.overlay_opacity }}; background-color:{{ page.header.overlay_background_color }};">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column title col-12 col-md-10">
                <h2 class="mbr-bold mbr-white pb-3 mbr-fonts-style">
                   {{ page.header.title }}
                </h2>
                <div class="mbr-white">
                    {{ page.content }}
                </div>

            </div>
        </div>
    </div>
</section>