{% set collection = page.collection() %}

<section class="features13 cid-qQ9A4Yuej9 mbr-parallax-background" style="background-image: url({{  theme_url  }}/assets/images/backgrounds/bg10.jpg)">


    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style">
         جدیدترین نوشته ها
        </h2>

        <div class="media-container-row container flex-lg-wrap">
            {% for item in collection %}
                <div class="card col-12 col-md-5 p-5 m-3 align-center">

                    <div class="mbr-overlay" style="opacity: 0.6;background-color: rgb(79,79,79);z-index: 1;border-radius: 20px;">
                    </div>

                    <div class="card-img" style="border-radius: 20px;">
                        <img src="{{ item.media.images|first.url }}" alt="Mobirise">
                    </div>
                    <h4 class="card-title py-2 mbr-fonts-style">
                        <a href="{{ item.url }}"> {{ item.title }} </a>
                    </h4>
                    <p class="mbr-text mbr-fonts-style">
                        {{ item.summary }}
                    </p>
                </div>
            {% endfor %}

        </div>
    </div>
</section>