{% extends 'partials/base.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set show_breadcrumbs = header_var('show_sidebar', '/blog')|default(true) %}
{% set show_sidebar = header_var('show_sidebar')|default(true) %}
{% set show_pagination = header_var('show_sidebar')|default(true) %}




{% block body %}


    <section class="padding90 " style="background-image: url({{  theme_url  }}/assets/images/backgrounds/bg5.jpg)">
        {#<div class="mbr-overlay" style="opacity: 0.6;background-color: rgb(79,79,79);z-index: 1;border-radius: 20px;">#}
        {#</div>#}

        <div class="container">
            <div class="media-container-row" style="-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap:wrap;">
                {% for item in collection %}
                    <div class="card p-3 col-12 col-md-6 col-lg-4">
                        <div class="card-wrapper">
                            <div class="card-img" style="background: linear-gradient(0deg, #e8e8e8, #a8a8a8);background-image:url('{{ item.media.images|first.url }}');background-size: 100% 100%;height:230px; ">
                                <img src="" style="">
                            </div>
                            <div class="card-box">
                                <h4 class="card-title mbr-fonts-style">
                                    <a href="{{ item.url }}"> {{ item.title }} </a>
                                </h4>
                                <div class="mbr-text ">
                                    {{ item.summary }}
                                </div>
                            </div>
                            <div class="mbr-section-btn text-center">

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>



{% endblock %}
